* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.row.cont-and-img img {
  width: 100%;
  padding: 40px;
}

.nav-barr {
  background-image: url(../imgs/logo/1.png);

}

li a:hover {
  background: orange;
}

li {
  list-style: none;
}

.hover-me {
  padding: 30px 0px;
  margin-top: -30px;
}

.main-header-one {
  position: relative;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  top: 25px;
  z-index: 99999;
}

.main-header-one li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.buttons {
  background: #fff;
  border: 1px solid green;
  border-radius: 9px;
  height: 35px;
  width: 90px;
}

.buttons:hover {
  background: #000;
  color: #fff;
  font-weight: 700;
}

.main-header-one ul {
  padding: 0;
}

.hover-me:hover .fa-angle-down {
  transform: rotate(90deg);
  transition: 0.5s;
}

.click-me:hover .fa-angle-down {
  transform: rotate(90deg);
  transition: 0.5s;
}

.hoverd {
  position: absolute;
  top: 50px;
  display: none;
  padding-right: 30px;
  list-style: none;
}


.clicked {
  display: none;
  position: absolute;
  top: 50px;
  list-style: disc;
}

.logins-button {
  position: relative;
  top: 25px;
}

.hover-me:hover .hoverd {
  display: block;
}

.main-header-one li a {
  padding: 0px 5px;
}

.humburgrr {
  display: none;
  cursor: pointer;
}

/* ================================================================================================= */
/* Media-Queri-Start-------------------- */

@media only screen and (max-width: 520px) {
  .menu-for-humb {
    display: none;
  }

  .res-logo img {
    width: 50%;
    position: relative;
  }

  .fa-solid.fa-bars {
    position: absolute;
    right: -20px;
    top: -20px;
  }

  .humburgrr {
    display: block;
    position: absolute;
    color: white;
    right: 25px;
    top: 25px;
    font-size: 30px;
  }

  .logins-button {
    top: 1px;
    left: -20%;
  }

  .buttons {
    background: red;
    border: 1px solid green;
    border-radius: 9px;
    height: 35px;
    width: 60px;
  }

  .menu-for-humb {
    display: block;
    position: absolute;
    top: 10px;
    padding: 0;

  }

  .main-header-one {
    position: relative;
    display: block;
    width: 100%;
    list-style: none;
    top: 25px;
    background: #cbd9cb;
    display: none;
  }

  .clicked {
    display: none;
    position: relative;
    top: -20px;
    left: 80px;
    list-style: none;
    margin-bottom: -25px;
  }

  .main-header-one li a {
    padding: 0px 5px;
  }

  .hoverd {
    position: relative;
    top: -23px;
    display: none;
    list-style: none;
    left: 100px;
    margin-bottom: -25px;
  }

}



@media only screen and (min-width: 521px) and (max-width: 767px) {
  .menu-for-humb {
    display: none;
  }

  .fa-solid.fa-bars {
    position: absolute;
    right: 0;
  }

  .humburgrr {
    display: block;
    position: absolute;
    color: white;
    right: 25px;
    top: 25px;
    font-size: 30px;

  }

  .main-header-one li a {
    padding: 0px 5px;
  }

  .main-header-one {
    position: absolute;
    list-style: none;
    top: 65px;
    background: green;
    display: block;
    display: none;

  }

  .menu-for-humb {
    display: block;
    position: absolute;
    top: 10px;
    padding: 0;
  }

  .hoverd {
    position: relative;
    top: -22px;
    display: none;
    list-style: none;
    margin-bottom: -30px;
    left: 95px;
  }

  .clicked {
    display: none;
    position: relative;
    top: -25px;
    list-style: disc;
    left: 90px;
    margin-bottom: -30px;
  }

}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .logins-button {
    position: relative;
    top: 5px;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 992px) and (max-width: 1250px) {
  .logins-button {
    position: relative;
    top: 5px;
  }
}

/* ===========================sliderr==start==================================== */

.carousel-control-prev-icon {
  background-image: url(../imgs/less-than-solid.svg);
}

.carousel-control-next-icon {
  background-image: url(../imgs/greater-than-solid.svg);
}

#carouselExampleAutoplaying {
  position: relative;
}

/* ========================about============Start====================== */
.our-services {
  text-align: center;
  position: relative;
  top: 20px;
  margin-bottom: 25px;
}

.col-md-4.col-12.services img {
  max-width: 100%;
  padding: 20px 0 0 0;
}

.col-md-4.col-12.services p {
  text-align: center;
  text-align: justify;
}

.col-md-4.col-12.services h3 {
  text-align: center;
  border-bottom: 2px solid #85ec09;
}

.for-bckground {
  background-image: url(../imgs/background-image.jpg);
  width: 100%;
  overflow: hidden;
  background-size: cover;
  margin-top: 50px;
}

.col-12.background-contints {
  color: #fff;
}

.background-contints {
  max-width: 500px;
  max-height: 350px;
  background-color: rgba(204, 33, 33, 0.372);
  padding: 40px 0px 25px 40px;
  border: 2px solid green;
  margin: 90px;
  animation: first-anim 5s;
  position: relative;
}

@keyframes first-anim {

  0% {
    top: 0px;
  }

  25% {
    top: 25px;
  }

  50% {
    top: 50px;
  }

  75% {
    top: 75px
  }

  100% {
    top: 100px
  }

}

/* =================we--works---on---=============== */
.we-work-logo img {
  width: 100%;
  border-radius: 80px;
}

.we-work-main {
  border: 1px solid orange;
  padding: 2px 20px;
  max-width: 100%;
  width: 31%;
  margin: 10px;
}

.how-we-containt p {
  text-align: justify;
}

.how-we-containt h2 {
  text-align: center;
  padding: 5px 0;
}

.hww {
  text-align: center;
  font-weight: 700;
  padding-top: 30px;
}

.we-work-logo {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 3px solid rebeccapurple;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 15px;
}

/* =======================================media==Query===== */

@media only screen and (max-width: 991px) {
  .bodr-btm-top {
    border-bottom: none;
    border-top: none;
    max-width: 100%;

  }

  .row.cont-and-img h3 {
    text-align: center;
    position: relative;
    top: 1px;
    width: 100px;

  }

  .row.cont-and-img p {
    position: relative;
    overflow: hidden;
    margin-bottom: 80px;
    margin-top: -25px;
    text-align: justify;
  }
  .we-work-main {
    border: 1px solid orange;
    padding: 2px 20px;
    max-width: 100%;
    width: 100%;
    margin: 10px;
  }

}

/* ========================react-background-img==================== */

.react-background-img {
  background-image: url(../imgs/ui-ux-banner.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;

}

.col-12.react-background-containt {
  background: #ffa50036;
  color: #fff;
  text-align: justify;
  padding: 0 15px;
  margin: 30px 10px;
}

.col-12.react-background-containt h2 {
  font-weight: 700;
  font-family: tims;
  text-align: center;
  padding: 30px 0 0 0;
}

.row.contact-info {
  text-align: center;
  padding: 35px 0px;
}


.row.contact-info li {
  list-style-type: none;
  position: relative;
  padding-left: 15px;

}

.row.contact-info li a {
  text-decoration: none;
  color: orange;
}

.contact-info .fa-solid {
  font-weight: 900;
  position: relative;
  left: -50px;
}

.contactme-section {
  background-color: gainsboro;
  padding-bottom: 50px;
}

/* ==================================form=======start================= */

/* =======================map====start================================== */

/* ====================footer=======start========================== */
.footer li::before {
  content: " \f101";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.footer li {
  list-style: none;
}

.footer li a {
  text-decoration: none;
  color: #fff;
}

.footer-start {
  color: #fff;
  background-color: #000;
  padding-top: 35px;
}

.end-index {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  font-size: 18px;
}

.end-index::before {
  position: absolute;
  content: " ";
  height: 2px;
  width: 100%;
  left: 0px;
  top: 2px;
  background: #fff;
  display: block;
  z-index: 99999;
}

.end-index span {
  color: orange;
}

.footer.col-md-3.col-sm-6.col-12 li a {
  padding-left: 10px;
}

.footr-icon.col-md-6.col-12 {
  width: 25%;
  text-align: center;
}

/* =========================================about-us-========================= */

.col-md-6.col-12.about-us-ind.about-containt {
  position: relative;
  top: 110px;
}

.about-us1 {
  margin-top: 50px;
  position: relative;
}

.about-us-button {
  top: 40px;
  left: 30px;
  height: 45px;
  width: 100px;
  border: none;
  background: orange;
  border-radius: 9px;
}

.about-us-button:hover {
  color: #fff;
}

.col-md-6.col-12.about-us-ind.about-imgs img {
  width: 100%;
  position: relative;
  padding: 40px;
}

.we-work1 {
  margin: 10px;
}

/* =========================================================
===============contact===page===============================
============================================================ */
/* form style */
.form-style {
  max-width: 450px;
  padding: 40px 30px 40px 40px;
  font: 13px Arial, Helvetica, sans-serif;
  margin: 20px auto;
  background: #FFFFFF;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.form-style-heading {
  font-weight: bold;
  font-style: italic;
  border-bottom: 2px solid #ddd;
  margin-bottom: 10px;
  font-size: 15px;
  padding-bottom: 3px;
}

.form-style label {
  display: block;
  margin: 0px 0px 15px 0px;
}

.form-style label>span {
  width: 100px;
  font-weight: bold;
  float: left;
  padding-top: 8px;
  padding-right: 5px;
}

.form-style span.required {
  color: red;
}

.form-style input[name=phone1] {
  width: 40px !important;
  text-align: center;
}

.form-style input[name=phone2] {
  width: 170px !important;
}

.form-style input[type=text],
input[type=email] {
  width: 64%;

}

.form-style input[type=text],
.form-style input[type=email],
.form-style input[type=file],
.form-style input[type=number],
.form-style textarea,
.form-style select {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #C2C2C2;
  box-shadow: 1px 1px 4px #EBEBEB;
  -moz-box-shadow: 1px 1px 4px #EBEBEB;
  -webkit-box-shadow: 1px 1px 4px #EBEBEB;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 7px;
  outline: none;
}

.form-style input[type=number]:focus,
.form-style input[type=text]:focus,
input[type=email]:focus,
.form-style input[type=file]:focus,
.form-style textarea:focus,
.form-style select:focus {
  border: 1px solid #0C0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-style textarea {
  height: 100px;
  width: 64%;
}

.form-style button[type="submit"] {
  -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
  -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
  box-shadow: inset 0px 1px 0px 0px #3985B1;
  background-color: #216288;
  border: 1px solid #17445E;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  padding: 8px 18px;
  text-decoration: none;
  font: 12px Arial, Helvetica, sans-serif;
}

.form-style button[type="submit"]:hover {
  background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
  background-color: #28739E;
}

.form-style .success {
  background: #D8FFC0;
  padding: 5px 10px 5px 10px;
  margin: 0px 0px 5px 0px;
  border: none;
  font-weight: bold;
  color: #2E6800;
  border-left: 3px solid #2E6800;
}

.form-style .error {
  background: #FFE8E8;
  padding: 5px 10px 5px 10px;
  margin: 0px 0px 5px 0px;
  border: none;
  font-weight: bold;
  color: #FF0000;
  border-left: 3px solid #FF0000;
}

.contact-bgg {
  text-align: center;
  padding: 15px;
  background: gainsboro;
  color: #fff;
}

.contact-bgg h1 {
  font-weight: 700;
}

/* =================================================
====================================================
==================================================== */
#overlay:hover {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.24);
  z-index: 99999;
  cursor: pointer;
  position: relative;
  transition-delay: 0.3s;
}

.wtsap-logo img {
  width: 65px;
  position: fixed;
  bottom: 35px;
  right: 12px;
  z-index: 999999;
}

.side-popup {
  position: fixed;
  right: -42px;
  top: 50%;
  z-index: 99999;
  display: block;
  transform: rotate(90deg);
  cursor: pointer;
  box-shadow: 0 0 16px rgba(0, 0, 0, .2);
  background: orange;
  min-width: 125px;
  text-align: center;
  font-size: 20px;
  height: 40px;
  color: #fff;
}

.side-popup p {
  padding: 2px 11px;
}

.contat-pg-addres {
  position: relative;
  left: 80px;
  top: 120px;
}

@media screen and (max-width: 992px) {
  .contat-pg-addres {
    position: relative;
    left: 0px;
    top: 0px;
text-align: center;
  }
}

.contact-page {
  text-align: center;
  font-weight: 800;
  letter-spacing: 7px;
}

.contact-detail-icon li a {
  background: none;
  line-height: 40px;
}
